:root.theme-light {
  --header-background-image: url('../images/cover-image-light.png');
  --accent-color: #FF8DCB;
  --border-color: #353430;
  --page-background-color: #FFF1F7;
  --header-title-color: #FFC2E6;
  --section-header-color: #353430;
  --subtitles-text-color: #353430;
  --section-paragraph-text-color: #353430;
  --footer-text-shadow: #FF0070;
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --header-background-image: url('../images/cover-image-light.png');
    --accent-color: #FF8DCB;
    --border-color: #353430;
    --page-background-color: #FFF1F7;
    --header-title-color: #FFC2E6;
    --section-header-color: #353430;
    --subtitles-text-color: #353430;
    --section-paragraph-text-color: #353430;
    --footer-text-shadow: #FF0070;
  }

  .header__rec {
    display: none;
  }
}