:root.theme-light {
  --bkg-text: #ff8dcb;
  --main-bg-color: #353430;
  --color-title: #ffc2e6;
  --main-text-color: #353430;
  --nav-color: #353430;
  --hover-button: rgba(50, 49, 45, 0.4);
  --back-img: url(../images/cover-image-light.png);
  --backgr: #fff1f7;
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bkg-text: #ff8dcb;
    --main-bg-color: #353430;
    --color-title: #ffc2e6;
    --main-text-color: #353430;
    --nav-color: #353430;
    --hover-button: rgba(50, 49, 45, 0.4);
    --back-img: url(../images/cover-image-light.png);
    --backgr: #fff1f7;
  }

  .header__rec {
    display: none;
  }

  .header {
    height: 605px;
  }
  .header::after {
    top: 10px;
    right: 10px;
  }
  .theme-dark .header::after {
    top: 10px;
    right: 10px;
  }
  .header:before {
    bottom: -53px;
    left: 10px;
  }
  .header__theme-menu {
    padding-top: 25px;
    margin-right: 0px;
  }
  .theme-dark .header__theme-menu {
    padding-top: 0px;
    margin-right: 0px;
  }
  .big-title {
    margin-top: 70px;
    margin-bottom: 53px;
  }
  .main-title {
    padding-top: 103px;
  }
  .conc-attention .main-title {
    padding: 0;
  }
  .gold-fish .main-title {
    padding: 0;
  }
  .footer .big-title {
    margin-top: 0;
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--nav-color);
  }
}

@media (prefers-color-scheme: light) and (min-width: 768px) {
  .header {
    height: 1024px;
  }
  .header__theme-menu {
    margin: 0;
  }

  .theme-dark .header__theme-menu {
    margin: 0;
    padding-top: 22px;
  }

  .header .big-title {
    margin-bottom: 161px;
  }

  .theme-dark .header::after {
    top: 20px;
    right: 20px;
  }

  .header::before {
    bottom: 20px;
    left: 20px;
  }

  .focus-hard .main-title {
    margin-top: 0px;
  }

  .focus-hard .temp-one {
    margin-top: 0px;
  }

  .focus-hard .temp-two {
    margin-top: 0px;
  }

  .header__theme-menu-list {
    margin: 0;
    padding-top: 164px;
    padding-right: 20px;
  }

  .theme-dark .header__theme-menu-list {
    margin: 0;
    padding-top: 140px;
    padding-right: 20px;
  }

  .header__rec {
    margin-right: 28px;
    padding-top: 20px;
  }

  .theme-dark .header__rec {
    padding-top: 0px;
  }
  .theme-dark .header__rec::after {
    top: 4px;
    right: 0;
  }

  .header__rec::after {
    top: 29px;
    right: 0;
  }

  .header::after {
    top: 20px;
    right: 20px;
  }

  .big-title {
    margin: 176px 0 162px;
  }

  .header__text {
    margin: 0;
    width: 364px;
    margin-right: 20px;
  }
}

@media (prefers-color-scheme: light) and (min-width: 1024px) {
  .header {
    height: 768px;
  }

  .header__theme-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }

  .header .big-title {
    margin-bottom: 114px;
    margin-top: 277px;
  }

  .header__theme-menu-item:not(:nth-of-type(3)) {
    margin-right: 10px;
  }

  .focus-hard .main-title {
    margin-top: 0;
  }

  .focus-hard .temp-one {
    margin-top: 0;
  }

  .focus-hard .temp-two {
    margin-top: 0;
  }

  .header__theme-menu-list {
    display: flex;
    justify-content: center;

    flex-direction: row;
    text-align: center;
    padding: 0;
    order: -1;
    margin-left: 397px;
  }
  .theme-dark .header__theme-menu-list {
    margin-left: 397px;
    padding: 0;
  }

  .header__rec {
    padding-top: 0px;
  }

  .header__rec::after {
    top: 8px;
  }

  .header::after {
    right: 20px;
  }

  .header::before {
    bottom: 20px;
    left: 20px;
  }

  .big-title {
    margin-top: 273px;
    margin-bottom: 114px;
  }

  .header__text {
    width: 491px;
  }

  .header__theme-menu-button:not(.header__theme-menu-button_type_light) {
    margin: 0;
  }

  .focus-hard {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 80px;
  }
}